
{% load static %}
 
<body style="background-color: rgb(201, 201, 248);"> 
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div style="text-align: center; margin-top: 20px;" class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h2 style="text-decoration: underline;">Your-Bill</h2>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                
                <ol style="list-style-type: none;">
                    <li><a style="background-color: white; box-shadow: 1px 2px blue; padding: 10px;" href="{% url 'user:adminDashboard' %}">Dashboard</a></li>
                    
                </ol>
            </div>
        </div>
<div>
    {% comment %}
        {% for store,prods in data.items %}
        {{ store }}<br><br>
            {% for pr,rec in prods.items %}
                {{ pr }}
                {% for r,v in rec.items %}
                    {{ r }}
                    {{ v }}
                {% endfor %}
                <br>
            {% endfor %}
        {% endfor %}
    {% endcomment %}
        

    {% for store,prods in data.items %}


    <div style="margin-left:15%; margin-top:10%; width:100%; padding: 20px;">
        <table style="height: auto; font-size: large; background-color: white; box-shadow: 1px 2px 2px rgb(131, 119, 119); margin-bottom: 20px;" >  
            
            <tr>    
                <td> Person Name :  {{ store.chemistfname }}</td>
             </tr>
             <tr>

                 <td> Contact :  {{ store.chemistcontactno }}</td>
             </tr>    
                <tr>

                    <td>Email :  {{ store.cid }}</td>
                </tr>
                <tr>

                    <td>Address :<p> {{ store.chemistaddress }}</p></td>
                </tr>
        
            </tr>
        </table>
        </div>

        <table border="2" style="margin-left:15%; width:78%;" class="table" >
            <thead>
                <tr>
                    <th>Medicine Name</th>
                    <th>Medicine Price</th>
                    <th>Medicine QTY</th>
                    <th>Medicine Total</th>
                </tr>
            </thead>
            <tbody>
                {% for pr,rec in prods.items %}
                    <tr>
                        <td>{{ pr }}</td>
                        <td>{{ rec.real_price }}</td>
                        <td>{{ rec.prod_qty }}</td>
                        <td>{{ rec.prod_price }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">Total Amount : </td>
                    <td> {{ grand_tot }} </td>
                </tr>
            </tbody>
        </table>


    {% if not show %}
       
        <div style="margin-left: 50%; background-color: white; padding:5px; margin-top: 10px; width: 110px;">
             <a style="text-decoration: none;" class="btn btn-info" href="{% url 'user:create_pdf' store.chemistfname %}"> Generate Pdf </a>
        
            </div>
    {% endif %}
    

{% endfor %}

</div>
</div>
</body>
